@charset 'UTF-8';
/* CSS Document /

/ RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

html {
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    float: left;
}

#main {
    width: 100%;
    float: left;
}

#content {
    width: 650px;
    float: left;
}

#sidebar {
    width: 150px;
    float: left;
}

#footer {
    width: 100%;
    height: 100px;
    float: left;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}